/* make a grid */
.wrapper {
  margin: auto;
  max-width: 600px;
  min-width: 200px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 1fr 77vh 1fr;
  grid-gap: 1vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 3vw;
  padding-right: 3vw;
}

.wrapper > * {
  background-color: #444;
  color: #fff;
}


.wrapper * {
  border-radius: 5px;
  padding: 1vh;
  font-size: 2.5vh;
}

@media only screen and (max-height: 500px), (max-width: 200px){
  .wrapper {
    grid-gap: 5px;
  }
  .wrapper * {
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
  }
}